.custom-card-img {
    width: 100%; /* Se ajusta automáticamente al ancho del contenedor */
    height: auto; /* Se mantiene la proporción */
    max-height: 500px; /* Limita el alto para pantallas grandes */
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03); /* Un solo hover con ligera ampliación */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.libro-img {
    height: 300px;
    object-fit: contain;
    background-color: #f8f9fa; /* fondo neutro para imágenes más pequeñas */
}



@media (max-width: 576px) {
    .custom-card-img {
        height: 200px;
    }

    .carousel-item img {
        height: auto; /* En móvil deja que la imagen determine la altura */
    }
}