input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
    border-radius: 3px;
}

.alert {
    color: red;
    font-size: 10px;
    margin-bottom: 0px;
}

.btn:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}